@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background:#f1f1f1;
    color:#0f141e;
    font:normal 16px 'Roboto', sans-serif ;
}
h1,h2 {
    text-align: center;
}

.container {
    margin: auto;
    width: 900px;

}
.avatar {
    width: 250px;
    box-shadow: 4px 4px 14px rgba (0, 0 ,0 ,0 ,25) ;
    float: left;
}
.description {
    line-height: 1;
    margin-left: 325px;
    width: 580px;

}
.clear {
    clear: both;
}
.time {
    padding-bottom: 20px;
}

.title_name_dtscription {
    font-weight: bold;
}
.social-media-icons  {
    text-align: center;

}
.social-media-icons  li {
    display: inline;
    

}
.bg-yellow {
    background:#fff9dc;
}
.bg-green {
    background:#e5ffe7;
}
.bg-red {
    background:#ffe5e5;
}
.table{
    width: 100%;
    text-align:center;
   padding-bottom: 20px;
}
.line {
    text-decoration:underline;
}
